.dropdown dropdown-bottom {
    color: black;
}
.dropdown-content {
    padding: 0.5rem; 
    width: 13rem; 
    background-color: rgb(0, 0, 0, );
}


/*my slider itsself*/
.slider *{
    color: black;
}