/*main home page */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.in-body{
  color: white;
}
.to-head{
  color: white;
  align-content: flex-start;
}
.header{
color: white;
background-color: black;
padding: 5px;

}

.nav {
display: flex;
padding: 15px;
align-items: baseline;
background: transparent;
border: none;
color: rgb(207, 0, 0) !important;
font-size: 17px;
gap: 10px;
}
.nav * :hover {
  border: 1px solid white;
  transition: border 0.5s;
  border-radius: 4px;
  padding: 8px 16px; 

}
.header{
  size: 30px;
}
.App-header {
  background-color: black;
  min-height: 50px;
  display: flex;
  align-content: flex-start;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0;
  padding: 20px;
  font-size: 35px;
}
.h1 {
  padding: 6px;
}

/* for my section pa*/
