* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(0, 0, 0, 0.1);
}
.in-body{
  color: white;
}
.header{
color: white;
background-color: black;
padding: 5px;
}
/* .nav * {
flex-direction: row;
background: transparent;
border: none;
color: white;
padding: 5px;
font-size: 17px;
display: flex;
align-items: baseline;
}
.nav * :hover {
  border: 1px solid white;
  transition: border 0.5s;
  border-radius: 4px;
  padding: 8px 16px; 
} */
.header{
  size: 30px;
}
.App-header {
  background-color: black;
  min-height: 50px;
  display: flex;
  align-content: flex-start;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0;
  padding: 20px;
  font-size: 35px;
}
.h1 {
  padding: 6px;
}

/*for my golf tips page*/
.tips {
  margin-top: 6px;
  padding: 20px;
  background-color: rgb(0, 0, 0, 1);
  font-size: 30px;
  color: white;
}
.golf-tips {
  text-indent: 15px;

}

.p1 {
 color: white;
 font-size: 18px;
 text-align: left;
 text-indent: 20px;
}
.list-1 {
  background-color: rgb(0, 0, 0, 0.8);
  margin: 5px;
  padding: 30px;
}
.ordered{
  color: white;
  text-align: center;
}
.li-1 {
 padding: 10px;  
 margin: 30px;
}
.li-2 {
  padding: 5px;
 
}
.li-head {
  text-indent: 0px;
}
.li-p1 {
  text-indent: 30px;
}

/*golf betting sites css*/
.sites {
  margin-top: 6px;
  padding: 40px;
  background-color: rgb(0, 0, 0, 1);
  font-size: 30px;
  color: white;
}
.parent-box {
  margin: 10px;
  background-color: rgb(0, 0, 0, 0.1);
  border: 5px solid blue;
  height: 265px;
  display: flex;
  flex-direction: row;
}
.info-box {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  width: 1000px;
  border: 2px solid blue;
}
.claim-box {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  width: 300px;
  border: 2px solid blue;
}

.img-box {
  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  padding: 125px;
  border: 3px solid blue;
  background-color: #021434;
  
}
/* .header{
  size: 30px;
} */

/* .parent-box h1{
  display: flex;
} */

/* .footer p-10 bg-base-200 text-base-content {
  color: white;

} */