 /*form css*/
 .form * {
    margin: 0;
    padding: 10px;
    background-color: rgb(0, 0, 0, 1);
    flex-direction: row;
    font-weight: bold;
    font-size: 15px;
  }
  .form-field  {
    display: flex;
    justify-content: center;
    border: 1px solid #000;
    border-radius: 5px;
    color: white;
    min-width: 50px;
  }
  .form-field label{
    margin-right: 10px;
    
  }
  .form-field input {
    margin: 0;
    justify-content: center;
    background-color: white;
    color: #000;
  }
.form-field textarea {
    background-color: white;
    color: #000
}
 .submit {
    align-content: center; 
 }