.in-body{
  background-color: black;
  color: white;
  flex-direction: row;
}
.to-head{
  color: white;
  align-content: flex-start;
}
.header{
color: white;
background-color: black;
padding: 5px;

}
.nav *{
align-items: baseline;
flex-direction: row;
background: transparent;
border: none;
color: white;
padding: 5px;
}
.nav * :hover {
  border: 1px solid white;
  transition: border 0.5s;
  border-radius: 4px;
  padding: 8px 16px; 
}
.header{
  size: 30px;
}
.App-header {
  background-color: #282c34;
  min-height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}